body {
  background-color: gray;
  margin-bottom: 50px;
  clear:both;
}

footer {
  background-color: black;
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;

}

.jumbotron {  
  margin: 10px 0px 10px 0px;
}

.tile {
  background-color: white;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  height: 300px;
  border: 1px lightgrey solid;
  border-radius: 5px;
}

.gfont1 {
  font-family: 'Italianno', cursive;
  font-size: 4.5em;
}

.input-card {
  background-color: white;
  margin: 10px;
  padding: 10px;
}

.input {
  margin: 10px;
  padding: 10px;
  display:block;
}

.welcome-body {
  background-image: url("assets/img/bg.jpg");
}

.welcome-box {
  top: 3em;
  position: relative;
  border: solid 2px rgba(78, 214, 255, 0.20);
  border-radius: 5px;
  width: 625px;
  height: 400px;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(42, 150, 65, .15), rgba(0, 132, 255, .45));
}

.frontName {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 3em;
  }

.contBtn {
  margin: 0px 0px 0px 100px;
  padding: 15px;
  border: 0;
  background-color: RGBa(201,155,67, 100);  
}
