body {
  background-image: url("https://previews.123rf.com/images/kostins/kostins1408/kostins140800005/30616602-%EB%AF%B8%EB%AC%98%ED%95%9C-grunge-%EB%B2%BD%EC%A7%80-%EC%A7%88%EA%B0%90%EC%97%90-%EB%B9%88%ED%8B%B0%EC%A7%80-%EC%9B%90%ED%99%9C%ED%95%9C-%ED%8C%A8%ED%84%B4-%EB%B0%B0%EA%B2%BD.jpg");
  background-color: gray;
  margin: auto;
  margin-bottom: 160px;
  clear:both;
}

p{
  margin: 10px 0px 10px 0px;
}

header {
  width: 100%;
  background-color: white;
  height: 100%;
  margin: auto;
  
  
}

.navi {
  max-width: 960px;
  margin: auto;
  background-color:white;
  padding: 0px;
}


.col-md-6.logoBox {
  padding: 0px;
}

.nameLogo{
  margin: 0px;
  padding:10px;
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif; 
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  max-width: 180px

  
}

.nav-tabs {

}

.nav-link {
  color: #777;
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif; 
  font-size: 2rem;
  font-weight: 600;
  color: #4aaaa5;

}

hr {
  width: 90%;
}

.main-content {
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  background-color: white;
  line-height: 2em;
  max-width: 960px;
  box-shadow: 0px 0px 10px grey;
}

.profile-image{
  border-radius:10px;
  width: 300px;
  height: 300px;
  transform: rotate(-90deg); /* causing some issues with overlap */
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 150px;
  width: 100%;
  background-color: #373737;
  padding: 15px;
  box-shadow: 0px -3px 15px #282828;
}

.jumbotron {  
  margin: 10px 0px 10px 0px;
}

.tile1 {
  background-color: white;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  height: 300px;
  border: 1px lightgrey solid;
  border-radius: 5px;
  max-width: 250px;
}

a .text-box{
  color: red;
}

.text-box {
  color: white;
  background-color: rgba(74, 170, 165, .85);
  border: 2px #4aaaa5 solid;
  border-radius: 5px;
  position: relative;
  left: 35px;
  bottom: 85px;
  padding: 5px;
  max-width: 230px;
}

.gfont1 {
  font-family: 'Italianno', cursive;
  font-size: 4.5em;
}

.bigFancy {
  font-size: 1.5em;
  /* font-family: 'Diplomata SC', cursive; */
  /* font-family: 'Monoton', cursive; */
  /* font-family: 'Great Vibes', cursive; */
  font-family: 'Tangerine', cursive;

}

.contact-text{
  padding-top:30px;
}

.input-card {
  background-color: white;
  margin: 10px;
  padding: 10px;
}

.input {
  float: right;
  margin: 10px;
  padding: 10px;
}

input {
  float: right;
  width: 265px;
  border: none;
  border-bottom: 2px solid #4aaaa5;
}


/* landing page */ 
.welcome-body {
  background-image: url("../img/bg.jpg");
  background-size: auto;
}

.welcome-box-box {
  padding: 10px;
}

.welcome-box {
  top: 3em;
  position: relative;
  border: solid 2px rgba(78, 214, 255, 0.20);
  border-radius: 5px;
  width: auto;
  max-width: 625px;
  height: auto;
  min-height: 400px;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(42, 150, 65, .15), rgba(0, 132, 255, .45));
}

.frontName {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 3em;
  }

.contBtn {
  margin: 0px 0px 0px 100px;
  padding: 15px;
  border: 0;
  background-color: RGBa(201,155,67, 100);  
}
